.character-card {
    display: flex;
    flex-direction: column;
    background-color: black;
    cursor: pointer;
  }
  
.character-card div {
    background-color: black;
  }

.character-card div {
    text-align: center;
  }