.login {
    background-color: rgba(0, 0, 0, 0.8);
    width: 30em;
    height: 25em;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.login img {
    width: 7vh;
    image-rendering: auto;
    padding-top: 1vh;
  }
  
.login-title {
    font-family: var(--heading-font);
    font-weight: normal;
    display: inline;
  }