.mobile {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-directions {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    width: 30em;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}