.world h2 {
    position: absolute;
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
    font-size: 3vh;
    color: white;
    font-weight: normal;
    text-align: center;
  }
  
.world button {
    background-color: rgba(222, 222, 217, 0.95);
    font: inherit;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    width: 8em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    z-index: 1;
  }
  
.world button:hover {
    background-color: black;
    color: white;
  }
  
.current-location {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
  }