.create-task-background {
    z-index: 5;
    background-color: rgba(222, 222, 217, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.create-task {
    position: relative;
    height: auto;
    max-height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh;
    border-radius: 10px;
    border: 1px solid white;
  }

.create-task form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.create-task input[type="text"],
.create-task textarea {
    width: 50vh;
  }
  
.create-task h2 {
    color: white;
  }
  
.create-task textarea {
    display: inline;
  }
  
.create-task hr {
    border-color: white;
    width: 100%;
  }

.create-task button {
  width: 90%;
}

.create-task-name {
    display: block;
  }

.radio-input {
    display: block;
    margin: 0.5rem;
    display: flex;
    width: 90%;
    gap: 1rem;
    justify-content: space-between;
  }

.radio-input-options {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.add-button {
  margin-top: 1rem;
}

.cancel-button {
  margin-top: 0.5rem;
}