.create-task-background {
    z-index: 5;
    background-color: rgba(222, 222, 217, 0.2);
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.create-task {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh;
    border-radius: 5px;
    border: 1px solid white;
  }

.create-task form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.create-task input[type="text"],
.create-task textarea {
    width: 50vh;
  }
  
.create-task h2 {
    color: white;
  }
  
.create-task textarea {
    display: inline;
  }
  
.create-task hr {
    border-color: white;
    width: 100%;
  }

.create-task-name {
    display: block;
  }

.difficulty-input {
    display: block;
  }