.os-title {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 6vh;
    padding: 0;
  }
  
.main-navbar {
    height: 100%;
    width: 100%;
  }
  
.main-nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.main-nav-header h2 {
    margin-top: 0;
  }
  
.main-nav-header img {
    width: 18vh;
    margin: auto;
    padding-top: 5vh;
    image-rendering: auto;
  }
  
.main-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    bottom: 20px;
  }