main {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    width: 80%;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: start;
    place-items: center;
  }
  
main h2 {
    color: white;
  }

.main-container {
    width: 100%;
    height: 100%;
  }

.coming-soon {
  padding: 2em;
  color: black;
  font-size: larger;
}