@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Roboto&display=swap');

:root{
  --heading-font: 'Adamina', serif;
  --normal-font: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: var(--normal-font);
  font-size: 20px;
  color: white;

  box-sizing: border-box;
}

.login {
  background-color: rgba(0, 0, 0, 0.8);
  width: 30em;
  height: 25em;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 75%;
  font: inherit;
  color: black;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.login button {
  background-color: #7a7a7a;
  font: inherit;
  color: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  z-index: 1;
  
}

#login-title {
  font-family: var(--heading-font);
  font-weight: normal;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  image-rendering: auto;
}

#header-title {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 2em;
}

nav {
  position: absolute;
  top: 4em;
  display: flex;
}

nav button {
  background-color: rgba(222, 222, 217, 0.95);
  font: inherit;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  width: 8em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  z-index: 1;
}

nav button:hover {
  background-color: black;
  color: white;
}

.shop {
  background-color: rgba(222, 222, 217, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  width: 80%;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 7em;
  transform: translateX(-50%);
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: start;
  place-items: center;
}

.characters {
  background-color: rgba(222, 222, 217, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  width: 80%;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 7em;
  transform: translateX(-50%);
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-content: start;
  place-items: center;
}

.quests {
  background-color: rgba(222, 222, 217, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  width: 80%;
  height: 70vh;
  position: absolute;
  left: 50%;
  top: 7em;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-content: start;
  place-items: center;
  padding: 0;
}

main h2 {
  color: black;
}

#os-title {
  font-family: var(--heading-font);
  text-align: center;
  font-size: 6vh;
}

.quest-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  bottom: 20px;
}

.shop-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  bottom: 20px;
}

.characters-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  bottom: 20px;
}

.shop-navbar {
  height: 100%;
  width: 100%;
}

.quest-nav button {
  background-color: black;
  font: inherit;
  color: inherit;
  border: none;
  padding: 10px;
  margin: 5px auto;
  width: 80%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  z-index: 1;
}

.shop-nav button {
  background-color: black;
  font: inherit;
  color: inherit;
  border: none;
  padding: 10px;
  margin: 5px auto;
  width: 80%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
  z-index: 1;
}

.quest-nav button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.shop-nav button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.quest-content {
  text-align: center;
}

.easy-difficulty {
  height: 100%;
  position: absolute;
  left: 0;
  width: 2rem;
  background-color: #b7d264;
  margin: 0;
  padding: 0;
}

.medium-difficulty {
  height: 100%;
  position: absolute;
  left: 0;
  width: 2rem;
  background-color: #EACC61;
  margin: 0;
  padding: 0;
}

.difficult-difficulty {
  height: 100%;
  position: absolute;
  left: 0;
  width: 2rem;
  background-color: #D46C6C;
  margin: 0;
  padding: 0;
}

.quest-title {
  height: 100%;
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-15%);
}

.QuestName {
  background-color: black;
  height: 5.1rem;
  margin: 0.5rem;
  display: flex;
  position: relative;
  border: 1px solid black;
}

.QuestName input[type="checkbox"] {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
}

.QuestName input:checked {
  color: #b7d264;
}

a {
  color: inherit;
  text-decoration: none;
}

.quests>div {
  box-sizing: border-box;
  height: 70vh;
  width: 100%;
  position: relative;
}

.quest-focus-black {
  background-color: black;
  padding: 10px;
  height: 60vh;
  width: 68vh;
  position: absolute;
  top: 9vh;
  left: 2vh;
}

.quest-focus h2 {
  color: white;
  left: 5vh;
  font-size: 4vh;
  font-weight: normal;
}

.quest-list {
  max-height: 55vh;
  overflow: auto;
}

.character-list {
  padding: 10px;
  max-height: 69vh;
  overflow: auto;
}

hr {
  border-color: black;
}

.quest-focus hr {
  border-color: white;
}

.quest-description, .quest-sub-tasks {
  width: 99%;
  height: 15vh;
  padding: 10px;
  margin: 10px auto;
  background-color: rgba(169,186,161,0.15);
}

.difficulty-text {
  position: absolute;
  right: 4vh;
  top: 5vh;
  color: #7FB672;
}

.quest-nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2#os-title {
  padding: 0;
}

.quest-nav-header h2 {
  margin-top: 0;
}

.shop-nav-header h2 {
  margin-top: 0;
}

.characters-nav-header h2 {
  margin-top: 0;
}

.quest-nav-header img {
  width: 18vh;
  margin: auto;
  padding-top: 5vh;
  image-rendering: auto;
}

.shop-nav-header img {
  width: 18vh;
  margin: auto;
  padding-top: 5vh;
  image-rendering: auto;
}

.characters-nav-header img {
  width: 18vh;
  margin: auto;
  padding-top: 5vh;
  image-rendering: auto;
}

header img {
  width: 7vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}

.quest-list {
  /* For Firefox ?? */
  /* TODO */
  scrollbar-color: black #f5f5f5;
  scrollbar-width: thin;
}

.shop-main {
  width: 100%;
}

.character-card {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.character-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.login img {
  width: 7vh;
  image-rendering: auto;
  padding-top: 1vh;
}

#login-title {
  display: inline;
}